<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Swag Labs Suite" parallel="tests" thread-count="5">


    <test name="Chrome Login Tests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="org.example.LoginTest"/>
        </classes>
    </test>

    <!-- Test on Firefox -->
    <test name="Firefox Login Tests">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="org.example.LoginTest"/>
        </classes>
    </test>

</suite>